body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}
.container{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.drum{
    border: 4px double rgb(215, 195, 195);
    display: inline-block;
    padding: 40px;
    box-sizing: border-box;
    color: aliceblue;
    font-size: 20px;
}
.played{
    border: 5px solid snow;
    font-size: 28px;
    color: black;
    background-color: whitesmoke;
}